{% extends 'main/base.html' %}
{% load static %}
  {% block content %}
  <main id="main">
    <br><br>

  <!-- ======= Goals Section ======= -->
  <section id="goals" class="team">
    <div class="container">

      <div class="section-title">
        <span>Goals</span>
        <h2>Look & See Goals</h2>
        <p>Our goal is to equip people with the tools to become informed and critical 
          navigators of the potentially volatile and insidious realm of online social media. 
          Through a browser extension we aim to give users the option to know more about who 
          they may be interacting with and use that to think critically about the content 
          they are being presented with online, and through our website we aim to help educate 
          parents and kids about the dangerous pathways to radicalization that exist online.</p>
      </div>

      <div class="section-title">
        <span>Why</span>
        <h2>Why did we Create Look & See</h2>
        <p>From petty trolls to malicious misinformers, you may come across online users who are 
          not what they seem and who may not have your best interests in mind. It's never a bad 
          idea to take a step back when you come across inflammatory posts and take a moment to 
          consider who it is you’re talking to. Take a look and see more context around those you’re 
          interacting with online</p>
      </div>

    </div>
  </section><!-- End Goals Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title">
        <span>Team</span>
        <h2>Team</h2>
        <p>Meet the Look & See Development Team</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGmNX6_wyHIAg/profile-displayphoto-shrink_800_800/0/1592619599335?e=1624492800&v=beta&t=Zm36CEpWkV3LdGiY4qsiPNsWs0OQS9GxUURXW9k3Fms" alt="" width="316" height="316">
            <h4>Carly Palermo</h4>
            <span>Security and Risk Analysis Major @ Penn State</span>
            <!-- <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p> -->
            <div class="social">
              <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
              <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
              <!-- <a href=""><i class="bi bi-instagram"></i></a> -->
              <a href="https://www.linkedin.com/in/carly-palermo/"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQFuZn8yR5QmYA/profile-displayphoto-shrink_800_800/0/1615913555018?e=1624492800&v=beta&t=DOb0-sy7J5WIc1GIsRck06OAY6fpRU1Mk7Pek-Rusfw" alt="" width="316" height="316">
            <h4>Andrew Burger</h4>
            <span>Information Technology Major @ Penn State</span>
            <!-- <p>
              Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
            </p> -->
            <div class="social">
              <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
              <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
              <!-- <a href=""><i class="bi bi-instagram"></i></a> -->
              <a href="https://www.linkedin.com/in/andrewwburger/"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQFC4pWRLFl5IQ/profile-displayphoto-shrink_800_800/0/1559762350695?e=1624492800&v=beta&t=xZPWr5xm7ZFTHBi9DJDHgBIq-sTHNCIdeMaHDgWdfIA" alt="" width="316" height="316">
            <h4>Ethan Hall</h4>
            <span>Cyber Security Major @ Penn State</span>
            <!-- <p>
              Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
            </p> -->
            <div class="social">
              <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
              <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
              <!-- <a href=""><i class="bi bi-instagram"></i></a> -->
              <a href="https://www.linkedin.com/in/ethan-hall/"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="https://media-exp1.licdn.com/dms/image/C4E35AQGXpRPA4_g6NQ/profile-framedphoto-shrink_800_800/0/1613837383998?e=1619143200&v=beta&t=zbWtuYbCHtxj3TXagJV_IOSAqtk3ICxLOfkT5BBi9dg" alt="" width="316" height="316">
            <h4>Kyle Williams</h4>
            <span>Security and Risk Analysis Major @ Penn State</span>
            <!-- <p>
              Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
            </p> -->
            <div class="social">
              <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
              <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
              <!-- <a href=""><i class="bi bi-instagram"></i></a> -->
              <a href="https://www.linkedin.com/in/kyle-williams-b3b63519a/"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="https://i0.wp.com/wp.ist.psu.edu/istlearning/wp-content/uploads/sites/19/2016/03/Gould-Wyatt.jpg?fit=600%2C600&ssl=1" alt="" width="316" height="316">
            <h4>Wyatt Gould</h4>
            <span>Student @ Penn State</span>
            <!-- <p>
              Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
            </p> -->
            <!-- <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div> -->
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

  </main><!-- End #main -->
  {% endblock %}