{% extends 'main/base.html' %}
{% load static %}
  {% block content %}
  <main id="main">
    <br>
  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container">

      <div class="section-title">
        <span>Get Help</span>
        <h2>Get Help</h2>
        <p>Resources to Help your Friends and Family if you Belive they are at Risk</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class='bx bx-info-circle'></i></div>
            <h4><a href="https://www.adl.org/" target="_blank">Anti-Defamation League</a></h4>
            <p>Online hate and extremism have increased dramatically in recent years, and the consequences have included 
              violent attacks and serious harm. Online platforms often lack adequate policies to mitigate these challenges 
              or fail to enforce their policies effectively.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class='bx bx-briefcase' ></i></div>
            <h4><a href="https://www.splcenter.org/issues/hate-and-extremism" target="_blank">Southern Poverty Law Center</a></h4>
            <p>The SPLC is the premier U.S. organization monitoring the activities of domestic hate groups and other 
              extremists – including the Ku Klux Klan, white nationalists, the neo-Nazi movement, antigovernment militias 
              and others.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon" target="_blank"><i class='bx bx-glasses-alt' ></i></div>
            <h4><a href="https://www.ojp.gov/pdffiles1/nij/250171.pdf">National Institute of Justice</a></h4>
            <p>The National Institute of Justice has sponsored research on how radicalization to terrorism occurs in the 
              US in order to support prevention and intervention efforts. In 
              spite of this there is substantial overlap in their findings, which collectively provide evidence 
              of the importance of several facilitators of radicalization and the need to take into account 
              how this process unfolds within individuals. </p>
          </div>
        </div>

        <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Nemo Enim</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Dele cardo</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">Divera don</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div> -->

      </div>

    </div>
  </section><!-- End Services Section -->


  </main><!-- End #main -->
  {% endblock %}