{% extends 'main/base.html' %}
{% load static %}
  {% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Look & See Browser Extension</h1>
          <h2>An extension to look out for you and see the bad before you do</h2>
          <div class="d-flex">
            <a href="/contact" class="btn-get-started scrollto">Sign Up for Early Access</a>
            <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'main/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-laptop"></i></div>
              <h4 class="title"><a href="">Use in Popular Browsers</a></h4>
              <p class="description">Look & See is availible on all chromium based browsers to keep you safe without changing your ways or interupting your day.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Sync Across Browsers</a></h4>
              <p class="description">Look & See will sync across all your browsers when you sign in whether it be your home, work, or family comptuer.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clipboard-data"></i></div>
              <h4 class="title"><a href="">Set your Own Privacy Level</a></h4>
              <p class="description">You decide what gets blured and if you want to see it. We only blur and notify you why. We still allow you to uncover and see what was blured at anytime.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'main/img/about.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Protect your Friends and Family!</h3>
            <p class="fst-italic">
              You can add friends and family to your Look & See account and set their privacy level or let them set their own.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Syncs across multiple computers and save time so you don't set up multiple accounts.</li>
              <li><i class="bi bi-check-circle"></i> Set parental controls for kids and teens to protect them as well.</li>
              <li><i class="bi bi-check-circle"></i> See data across those added to your account to see what is blured or unblured the most.</li>
            </ul>
            <!-- <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur.
            </p> -->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= CTA Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>Create your Account Today!</h3>
          <p> Sign up today and get in on our early access beta and help us better our extension so you can be better protected down the line! You will get all the newest updates and opprotunities to provide crucial feedback on any bugs or features.</p>
          <a class="cta-btn" href="#">Sign Up!</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <span>Get Help</span>
          <h2>Get Help</h2>
          <p>Resources to Help your Friends and Family if you Belive they are at Risk</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-info-circle'></i></div>
              <h4><a href="https://www.adl.org/" target="_blank">Anti-Defamation League</a></h4>
              <p>Online hate and extremism have increased dramatically in recent years, and the consequences have included 
                violent attacks and serious harm. Online platforms often lack adequate policies to mitigate these challenges 
                or fail to enforce their policies effectively.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-briefcase' ></i></div>
              <h4><a href="https://www.splcenter.org/issues/hate-and-extremism" target="_blank">Southern Poverty Law Center</a></h4>
              <p>The SPLC is the premier U.S. organization monitoring the activities of domestic hate groups and other 
                extremists – including the Ku Klux Klan, white nationalists, the neo-Nazi movement, antigovernment militias 
                and others.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon" target="_blank"><i class='bx bx-glasses-alt' ></i></div>
              <h4><a href="https://www.ojp.gov/pdffiles1/nij/250171.pdf">National Institute of Justice</a></h4>
              <p>The National Institute of Justice has sponsored research on how radicalization to terrorism occurs in the 
                US in order to support prevention and intervention efforts. In 
                spite of this there is substantial overlap in their findings, which collectively provide evidence 
                of the importance of several facilitators of radicalization and the need to take into account 
                how this process unfolds within individuals. </p>
            </div>
          </div>

          <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Nemo Enim</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Dele cardo</a></h4>
              <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Divera don</a></h4>
              <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Services Section -->
    
  </main><!-- End #main -->
  {% endblock %}
  